*.gem
*.rbc
.bundle
/vendor/bundle
.yardoc
Gemfile.lock

config/initializers/secret_token.rb
.config

InstalledFiles
.yardoc
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
/coverage/
/public/system/*
/spec/tmp/*

*.sassc
.sass-cache
/log/*
/db/*.sqlite3

capybara-*.html

.rspec
.rvmrc
.ruby-version

.project

rerun.txt
pickle-email-*.html
